In [2]:
import datetime as dt
import pandas_datareader.data as web
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd

style.use('ggplot')

In [3]:
start = dt.datetime(2000, 1, 1)
end = dt.datetime.now()
df = web.DataReader("TSLA", 'morningstar', start, end)
df.tail(5)

                    Close      High       Low      Open    Volume
Symbol Date
TSLA   2018-07-23  303.20  305.5000  292.8601  301.8400  10992947
       2018-07-24  297.43  307.7171  292.5452  304.4209   9590784
       2018-07-25  308.74  309.6200  294.5025  296.7400   7094180
       2018-07-26  306.65  310.7000  303.6411  304.8500   4630522
       2018-07-27  297.18  307.6933  295.3404  307.2500   5703326

In [4]:
df.to_csv('tsla.csv')#creating a file with the data